.card{
  width: 200px;
  height: 380px;
  border: double 2px white;
  transition: .5s;
}

body{
  background-color:#002147;
  color: #FFFF00

 
}
#Nav{
  background-color: #FFFF00!important;
  
}

.card-body{
  background: #FFFF00;
  color: #2C3539;

}
.card:hover{
  transform: scale(0.9);
  cursor: pointer;
}


